body {
    font : 14px Arial;
    color: #333333;
    width: 100%;
    margin: 0px;
}

h1 {
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding: 0px;
    margin: 40px 0 10px 0;
}

p {
    margin: 12px 0;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

div.container {
    padding: 0 5px;
    margin: 0 auto;
    width: 1000px;
}

input.button, a.button {
    background-color: #eee;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    padding: 3px 10px;
    text-decoration: none;
    cursor: pointer;
    color: blue;
    line-height: 25px;
}

input.button:hover, a.button:hover {
    text-decoration: underline;
}

span.selected, a.selected, a.selected:hover {
    background-color: lightgoldenrodyellow;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 3px 10px;
    font-weight: bold;
    color: #333333;
    text-decoration: none;
    cursor: auto;
}

p.box {
    background-color: #FFF;
    border: 2px solid #D0D0D0;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 0 5px;
    text-align: center;
    min-width: 80px;
}
p.box label {
    font-size: 10px;
    display: block;
}
p.box span  {
    width: 100%;
    display: block;
}

div.box-padrao {
    width: 608px;
}

div.form div {
    margin: 10px 0;
}
div.form label {
    display: inline-block;
    width: 130px;
}
div.form select {
    width: 150px;
}
div.box-texto {
    padding: 5px;
    border: 1px dashed #D0D0D0;
    border-radius: 5px;
}

p.cor-1 {
    background-color: lightgoldenrodyellow !important;
}

p.cor-2 {
    background-color: #c6ffc2 !important;
}

p.cor-3 {
    background-color: #D1E8FF !important;
}

div.mensagem {
    background-color: ivory;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    padding: 3px 10px;
    color: limegreen;
    line-height: 25px;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}

span.list {
    background-color: #ffffcc;
    border: 1px solid lightgray;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    height: 20px;
    margin: 1px 0;
    width: 193px;
}
span.list label {
    width: 160px;
    display: inline-block;
}

/* helpers */
.pointer    { cursor: pointer;   }
.left       { float: left;       }
.right      { float: right;      }
.hidden     { display: none;     }
.tRight     { text-align: right; }
.tMargin20  { margin-top: 20px;  }
.fullWidth  { width: 100%;       }
.lMargin10  { margin-left: 10px; }

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.table td{
    border : 1px solid #ccc;
}

table {
    border-collapse: collapse;
}
div.title {
    font-size: 16px;
    margin: 15px 0 5px;
}
div.dados-form {
    width: 830px;
}
div.dados-form div {
    width: 410px;
    display: inline-block;
    margin: 2px 0;
}
div.dados-form label, div.title label {
    width: 102px;
    font-weight: bold;
    display: inline-block;
}
div.dados-form span {
    width: 304px;
    display: inline-block;
}
tr.even td {
    background-color: #eee;
}